body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

header,
footer {
    background-color: #ff0;
}

/*
    Class selector - add a class of site-title to the main heading of the site and select the class in CSS to change the colour of text of the heading
*/
.site-title {
    color: rgb(255, 6, 255);
}

/*
     Id selector - add an id my-image to your image and select the id in CSS to add a box-shadow with 0 horizontal and vertical placement, 2px of the blur, 1px of the spread and black colour
*/
#my-image {
    box-shadow: 0 0 2px 1px black;
}

/* Replace the bullets from the list of hobbies with squares */
section ul {
    border: 2px solid black;
}

/* Using the nth-child selector - add a background to the odd list items in the hobby list */
section li:nth-child(2n+1) {
    background-color: chartreuse;
}


/* Styling the Navigation */
nav ul {
    list-style: none;
}

nav ul a,
nav ul a:link,
nav ul a:visited {
    background-color: rgb(88, 88, 230);
    border: 3px solid black;
    text-decoration: none;
}

nav ul .current,
nav ul a:hover,
nav ul a:focus {
    background-color: black;
    color: white;
    text-decoration: overline;
}